#Question 1

In [89]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [90]:
#Sorting the list
ages.sort()
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [91]:
#Finding the min age
min_ages=min(ages)
min_ages

19

In [92]:
#Finding the max age
max_ages=max(ages)
max_ages

26

In [93]:
#Adding the min age to the ages list
ages.append(min_ages)

In [94]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [95]:
#Adding the max age to the ages list
ages.append(max_ages)

In [96]:
#Finding the median ages of the list
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [97]:
ages.sort()

In [98]:
ages

[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]

In [99]:
n=len(ages)
n

12

In [101]:
median_ages=len(ages)/2
median_ages

6.0

In [102]:
median_ages=int(median_ages)
x=ages[median_ages]
x

24

In [35]:
#Sum of numbers in the list
sum=0
for i in ages:
    sum=sum+i
print(sum)

318

In [37]:
#Range of the list
range=max_ages-min_ages
range

7

Question 2

In [103]:
#Creating a empty dictionary named dog
dog={}
dog

{}

In [41]:
#Adding name,color, breed, legs, age to the dog dictionary.
dog={'name':"Scooby",'breed':"lab",'legs':4,'age':6}

In [42]:
dog

{'name': 'Scooby', 'breed': 'lab', 'legs': 4, 'age': 6}

In [50]:
"""Creating a student dictionary and add first_name, last_name, gender, 
age, marital status, skills, country, city and address as keys for the
dictionary."""
student={
    'first_name':"Venkata Sai Varun",
    'last_name':"Mooraboina",
    'gender':"Male",
    'age':20,
    'marital status':"Single",
    'skills':['Professional Cricketer'],
    'country':"India",
    'city':'Hyderabad',
    'address':'H.no 2-8-180,L.B Nagar'
}

In [51]:
student

{'first_name': 'Venkata Sai Varun',
 'last_name': 'Mooraboina',
 'gender': 'Male',
 'age': 20,
 'marital status': 'Single',
 'skills': ['Professional Cricketer'],
 'country': 'India',
 'city': 'Hyderabad',
 'address': 'H.no 2-8-180,L.B Nagar'}

In [52]:
#Geting the length of the student dictionary
len(student)

9

In [53]:
#Geting the value of skills 
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [54]:
student['skills']

['Professional Cricketer']

In [67]:
#Modifying the skills values by adding one or two skills
student['skills'].append("Programmer")

In [70]:
student['skills'].append("pc gamer")

In [71]:
student['skills']

['Professional Cricketer', 'pc gamer']

In [77]:
#Getting the dictionary values as a list
val=[]
for i in student:
    val.append(student[i])
val

['Venkata Sai Varun',
 'Mooraboina',
 'Male',
 20,
 'Single',
 ['Professional Cricketer', 'pc gamer'],
 'India',
 'Hyderabad',
 'H.no 2-8-180,L.B Nagar']

In [79]:
# Getting the dictionary keys as a list
key=[]
key.append(student.keys())
key

[dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])]

Question 8

In [6]:
#Using the string formatting method
radius=10
area=3.14*radius ** 2
print(f'The are of a circle with radius {radius} is {area} meters square.')

The are of a circle with radius 10 is 314.0 meters square.

Question 6

In [106]:
'''How many unique words have been used in the sentence? Use the split 
methods and set to get the unique words.'''
a="I am a teacher and I love to inspire and teach people"
asplit=""
asp=a.split()
asp=set(asp)
print(asp)
len(asp)

{'teach', 'a', 'love', 'I', 'am', 'and', 'to', 'people', 'teacher', 'inspire'}

10

Question 9

In [105]:
'''Write a program, which reads weights (lbs.) of N students into a list and
convert these weights to kilograms in a separate list using Loop. N: No 
of students (Read input from user)'''

L1=[]
L2=[]
lbs=[]
n=int(input("Enter number of students"))
for i in range(n):
    L1=float(input("Enter weights in lbs:"))
    lbs.append(L1)
    L2.append(L1/2.20462)
L2

Enter number of students4
Enter weights in lbs:150
Enter weights in lbs:155
Enter weights in lbs:145
Enter weights in lbs:148

[68.03893641534596, 70.30690096252415, 65.77097186816776, 67.13175059647469]

Question 5

In [5]:
'''Calculating the area of a circle and circumference of a circle and  
taking the radius as user input.'''
rad=int(input("Enter the radius:"))
_area_of_circle_= 3.14 * rad **2
_circum_of_circle_= 2 * 3.14 * rad
print("Area of a Circle",_area_of_circle_)
print("Circumference of a circle:",_circum_of_circle_)

Enter the radius:30
Area of a Circle 2826.0
Circumference of a circle: 188.4

#Qustion 3

In [11]:
#Creating a tuple for siblings and adding it to the family_members
brothers=("Sai Vardhan",)
sisters=("Thanvitha","Jayeetha")
siblings=list(brothers)+list(sisters)
print("My siblings:",siblings)
print("Number of siblings:",len(siblings))
tuple(siblings)
siblings
father=['Srinivas']
mother=["Padmaja"]
siblings=siblings+father+mother
family_members=siblings
print("My family members:",family_members)

My siblings: ['Sai Vardhan', 'Thanvitha', 'Jayeetha']
Number of siblings: 3
My family members: ['Sai Vardhan', 'Thanvitha', 'Jayeetha', 'Srinivas', 'Padmaja']

Question 4

In [60]:
#Finding the length of it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len(it_companies)

7

In [61]:
#Adding "Twitter" to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [62]:
#Adding more it companies
more_companies={"Capgemini","TCS"}
updated_companies=more_companies.union(it_companies)
updated_companies

{'Amazon',
 'Apple',
 'Capgemini',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [63]:
#Removing one of the companies from the set it_companies
updated_companies.remove("Amazon")
updated_companies

{'Apple',
 'Capgemini',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [64]:
#Joining A and B
join=A.union(B)
print("After Joining A and B:",join)

After Joining A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [65]:
#Finding A intersection B
intersect=A.intersection(B)
print("Intersection of A and B:",intersect)

Intersection of A and B: {19, 20, 22, 24, 25, 26}

In [66]:
#Is A subset of B
print(A.issubset(B))

True

In [67]:
#Are A and B disjoint sets
print(A.isdisjoint(B))

False

In [68]:
#Joining A with B and B with A
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [69]:
#Symmetric Difference
print("The symmetric difference between A and B is:",A.symmetric_difference(B))

The symmetric difference between A and B is: {27, 28}

In [70]:
#Deleting all sets
updated_companies.clear()
A.clear()
B.clear()

In [74]:
#Converting ages to set and comparing length for the list and the set
print(len(age))
Age=set(age)
len(Age)

8

5